# We use python 3.11.7
# We pin top-level dependencies only to make cross-platform development easier.

# OpenAI
tiktoken==0.8.0
openai==1.58.1

# Anthropic
anthropic==0.42.0
grayswan-api==0.1.0a49

# HuggingFace
datasets==3.2.0
transformers==4.44.2
transformers_stream_generator==0.0.5
accelerate==0.33.0

# Streamlit
streamlit==1.41.1
streamlit-extras==0.5.0

# API helpers
pydantic==2.10.4
tenacity==8.5.0
redis==5.0.3

# Data processing
datamodel-code-generator==0.26.4
genson==1.3.0
jsonlines==4.0.0
lark==1.2.2

# Prompt engineering
Jinja2==3.1.4

# Deep learning helpers
einops==0.8.0
einop==0.0.1

# Computational libraries
dask[dataframe]==2024.12.1
pandas==2.2.3
pyarrow==18.1.0
scipy==1.14.1
scikit-learn==1.6.0
statsmodels==0.14.4
umap-learn[plot]==0.5.7

# Audio
torchaudio==2.5.1
pydub==0.25.1
audio-flamingo==0.0.3
Python-IO
soundfile==0.12.1
SpeechRecognition==3.12.0
gradio==5.9.1
librosa==0.10.2.post1

# Images
opencv-python==4.10.0.84

# Visualization libraries
dash==2.18.2
matplotlib==3.10.0
plotly==5.24.1
seaborn==0.13.2

# Experiment management
simple-parsing==0.1.6
wandb==0.19.1

# Testing
pytest==8.3.4
pytest-asyncio==0.25.0
pytest-xdist==3.6.1

# Misc utilities
termcolor==2.5.0
tqdm==4.66.5
ipykernel==6.29.5

# Formatting, Linting, and Typechecking
pre-commit
ruff==0.9.0
black==24.10.0

# Other utilities
gpustat==1.1.1
ipywidgets==8.1.5
jupyterlab==4.3.4
magic-wormhole==0.17.0

# ELEVENLABS
elevenlabs==1.50.3

# Gemini
google-cloud-aiplatform==1.75.0
google-generativeai==0.8.3

# youtube
yt-dlp==2024.12.13

# Together
together==1.3.11
